// ESLint 检查 .vue 文件需要单独配置编辑器：
// https://eslint.vuejs.org/user-guide/#editor-integrations
{
	"extends": ["taro/vue3"],
	"rules": {
		"vue/multi-word-component-names": 0,
		"no-unused-vars": "error",
		"no-alert": "error",
		"no-console": "warn"
	}
}
